@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*
{
  font-family:'Titillium Web', sans-serif;
}
body
{
    background-color: #eeeeee;
    padding-bottom: 18rem;
}
.navbar
{
  background-color: white;
}
.nav-link
{
  color: black;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-radius: 1rem;
}
.navbar .nav-link:hover
{
    background-color: #d8d8d8;
    border-radius: 1rem;
    transition-duration: 0.2s;
}
.navbar .navbar-brand
{
  color: black;
  font-weight: 800;
  font-size: 1.25rem;
  transition-duration: 0.3s;
}
.navbar .navbar-brand:hover
{
  color:#0689f5;
  transition-duration: 0.3s;
}
.navbar .nav-link.active
{
  color: #0689f5;
  background-color: #d8eaff;
  border-radius: 1rem;
}
.container form
{
    margin-top: 8rem;
    display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Adjust the height to center vertically */
}